h1{
    padding: 15px 30px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: inline-block;
}